p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

ul {
  list-style: none;
}
:root {
  --main-title-color: #ffffff;
  --body-title-color: #212121;
  --body-text-color: #757575;
  --accent-color: #2196f3;
  --card-set-gap: 30px;
  --card-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.container {
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  padding: 24px 0;
}
.header-navigation {
  display: flex;
  align-items: center;
}
.div {
  margin: 0;
  display: flexbox;
}
.card {
  box-shadow: var(--card-shadow);
  border-radius: 4px;
  overflow: hidden;
  align-items: flex-start;
}
.card-content {
  padding: 15px;
}
.card-thumb {
  max-width: 100%;
  height: auto;
 
}
.card-set {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
   list-style: none;
  }

.card-set > .item {
  flex-basis: calc((100%-30px) / 4);
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
 
}

.header-nav {
  padding-left: 93px;
  display: flex;
  gap: 50px;
  text-align: center;
  margin-left: 93px;
}

.header-container {
  display: flex;
  margin: 0;
}

.contact {
  display: flex;
  gap: 50px;
  text-align: center;
  margin-left: auto;
}

.portfolio {
  display: flex;
  row-gap: 15px;
  flex-wrap: wrap;
  column-gap: 15px;
}
/*Властивість кнопок*/
button {
  cursor: pointer;
}
address {
  font-style: normal;
}

/*Прибирає базові властивості посилань */
.link {
  text-decoration: none;
  color: inherit;
}

/* header */
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--body-title-color);
}

.header-nav-link:hover,
.header-nav-link:focus,
.contact-link-mail:hover,
.contact-link-mail:focus,
.contact-link-tel:hover,
.contact-link-tel:focus {
  color: var(--accent-color);
}

.body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: var(--body-title-color);
}
/* Властивості навігації*/
.header-nav-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--body-title-color);
  min-width: 45px;
  min-height: 16px;
  display: inline-block;
}

/*контакти*/
.contact-link-mail,
.contact-link-tel {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--body-text-color);
  min-width: 122px;
  min-height: 16px;
  display: inline-block;
}

/*Акцент кольору на посилання studio*/
.header-studio {
  color: var(--accent-color);
}
/*Акцент кольору на посилання portfolio*/
.header-portfolio {
  color: var(--accent-color);
}
/*прибирає маркери*/
.list {
  marker: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: var(--card-set-gap);
}
.img-list {
  padding: 0;
  margin: 0;
  display: flex;
  gap: var(--card-set-gap);
}

.list-address {
  marker: none;
  padding: 0;
  margin: 0;
}
.work-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.section .work {
  padding-left: 215px;
  padding-right: 215px;
}
.work-text {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--body-text-color);
  width: 270px;
  min-height: 48px;
}

.hero {
  text-align: center;
  background-color: #2f303a;
  color: var(--main-title-color);
  padding: 200px 0;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
}
/*стилізація кнопки*/
.btn {
  background-color: var(--accent-color);
  width: 216px;
  height: 50px;
  text-align: center;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  margin-top: 30px;
}

.section {
  padding: 94px 0;
}

.section-title {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  padding-bottom: 50px;
}
.section-title-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 30px;
  margin-bottom: 10px;
}
.section-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--body-text-color);
}
.color-footer {
  background-color: #2f303a;
  padding: 60px 1154px 60px 215px;
}
.logo-studio {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 1);
}
.contacts,
.color-tel-black,
.color-mail-black,
.studio-black,
.color-studio-black {
  color: var(--body-title-color);
}
.color-web {
  color: #2196f3;
}

.color-studio,
.color-address,
.color-info {
  color: var(--main-title-color);
}

.color-mail:hover,
.color-mail:focus,
.color-tel:hover,
.color-tel:focus {
  color: var(--accent-color);
}

.color-mail,
.color-tel {
  letter-spacing: 0.03em;
  color: var(--body-text-color);
}
.color-maps {
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}
/*Портфоліо*/
.cursor {
  padding: 50px;
  text-align: center;
  gap: 8px;
}
 .button-list {
  text-align: center;
}
.cursor .cursor-btn {
  background: #f5f4fa;
  border-radius: 4px;
  border: #f5f4fa;
  display: inline-block;
   min-width: 73px;
  min-height: 38px;
  padding: 6px 25px 6px 25px;
}
.cursor-btn:hover,
.cursor-btn:focus {
  color: var(--main-title-color);
  background-color: var(--accent-color);
}

/*portfolio-title  скриває заголовок*/
.portfolio-title,
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.portfolio-title-list {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--body-text-color);
}
